@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Don't mind me. I'm just stopping through. 
        Hey #vanlifer! Walk around the world with 
        <a href="https://www.railstotrails.org/">Rails to Trails</a>!
    </p>
</div>
